
:root {
  --pink: #f55a5a;
}

#root {
  display: flex;
  justify-content: center;
}

html {
  font-family: Inter;
}

* {
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
}

.nav-icon {
  color: var(--pink);
}

.globe-icon {
  color: white;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--pink);
  color: white;
}

.journal {
  width: 35%;
  height: 10%;
  margin: 1%;
  background-color: white;
  overflow: scroll;
}

.card {
  display: flex;
  flex-direction: row;
  padding: 3em 3em 2em 2em;
  height: 30em;
  overflow: scroll;
}

.card > img {
  width: 20em;
  object-fit: cover;
  border-radius: 0.3em;
  height: 25em;
}

.nav-title {
  font-size: 1em;
  margin-left: 1%;
}

.card-title {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 10%;
}

.card-info {
  display: flex;
  flex-direction: column;
  margin-left: 1.5em;
}

.card-info-first-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -12%;
  gap: 3%;
}

.card-info-first-row > a {
  margin-left: 10%;
}

.card-date {
  font-weight: 800;
}

a:link, a:visited {
  color: gray;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}
